build --keep_going
build --announce_rc
query --keep_going
build --action_env=PATH
build --action_env=JAVA_HOME
build --action_env=GOROOT
build --action_env=GOPATH
build --action_env=GOMODCACHE
build --action_env=GOCACHE
build --action_env=CARGO_HOME
build --action_env=RUSTUP_HOME
build --action_env=ZIG_HOME
build --action_env=NVM_HOME
build --action_env=NVM_SYMLINK
build --action_env=KOGI_BAZEL_CARGO
build --action_env=KOGI_BAZEL_GO
build --action_env=KOGI_BAZEL_ZIG
build --action_env=KOGI_BAZEL_JAVAC
build --action_env=KOGI_BAZEL_SBT
build --action_env=KOGI_BAZEL_NPM
build --action_env=KOGI_BAZEL_GRADLE
